//
//  Staging.xcconfig
//  template
//
//  Configuration settings file format documentation can be found at:
//  https://help.apple.com/xcode/#/dev745c5c974

// Bundle Identifier
PRODUCT_BUNDLE_IDENTIFIER = com.nexware.template.stg

// App Name
PRODUCT_NAME = Template Staging

// App Display Name
INFOPLIST_KEY_CFBundleDisplayName = Template STG

// API Base URL
API_BASE_URL = https://staging-api.yourapp.com

// Environment
ENVIRONMENT = staging

// Code Signing
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = Y77BRW976S

// Build Settings
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) STAGING
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) STAGING=1
